.blockitems
{
    padding: '0.2rem 2rem';
    color: #2d2d2d;

    &__item
    {
        height: 3rem;
        background-color: #ffffff;
        cursor: grab !important;
        cursor: -webkit-grab;
        transition: all 0.2s ease-out;
        border-radius: .4rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 10rem;
        width:17rem;
        position: relative;
        pointer-events: none;
        margin-bottom: .5rem;
        box-shadow: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.07);
        &__icon {
            color: #d5d5d5;
            margin-right: 10px;
        }
        

        &__name {
            color: #000000;
            font-size:1rem;
            font-weight: 300;
        }

        &:active {
            cursor: grabbing !important;
            cursor: -webkit-grabbing;
        }
    }
}
