.Sidebar {
  width: 326px;
  background-color: #2d2d2d;
  padding: 19px 23px;
  height: 100%;
  z-index: 1;
  position: relative;

  &__header {
    color: white;
    font-weight: 700;
    margin-bottom: 17px;
  }

}
.BlockItem {
  display: grid;
  gap: 9px;
}

.BlockItem__shadowElement {
  position: relative;
  pointer-events: none;
}

.BlockItem__shadowElementInner {
  position: absolute;
  top: 0;
  left: 0;
}