@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
.canvas {
      display:flex;
      flex-direction: row-reverse;
      width:100%;
      background-color: rgb(252, 252, 252);
    }
